:root {
    --dxp-g-success: #4bca81;
    --dxp-g-brand: #005fb2;
    --dxp-s-text-heading-medium-letter-spacing: 0em;
    --dxp-s-text-heading-small-text-decoration: none;
    --dxp-s-dropdown-text-color: var(--dxp-g-root-contrast);
    --dxp-s-text-heading-extra-large-line-height: 1.25;
    --dxp-s-button-large-font-size: 1.25rem;
    --dxp-g-warning-contrast-3: #ffffff;
    --dxp-s-button-small-radius-border: 4px;
    --dxp-s-body-font-size: 1rem;
    --dxp-s-dropdown-color-background: var(--dxp-g-root);
    --dxp-s-body-small-text-decoration: none;
    --dxp-s-text-heading-large-line-height: 1.25;
    --dxp-g-neutral-contrast-3: #ffffff;
    --dxp-s-button-color-hover: var(--dxp-s-button-color-1);
    --dxp-s-text-heading-medium-text-transform: none;
    --dxp-g-neutral-contrast-2: #000000;
    --dxp-g-neutral-contrast-1: #000000;
    --dxp-s-button-font-size: 1rem;
    --dxp-s-button-letter-spacing: 0em;
    --dxp-s-button-color-focus-contrast: var(--dxp-g-brand-contrast-1);
    --dxp-g-warning-contrast-2: #000000;
    --dxp-g-warning-contrast-1: #000000;
    --dxp-s-link-text-color-1: var(--dxp-g-brand-1);
    --dxp-g-info: #16325c;
    --dxp-g-root: #ffffff;
    --dxp-g-root-contrast-1: #000000;
    --dxp-g-root-contrast: #1a1b1e;
    --dxp-g-root-contrast-2: #000000;
    --dxp-g-root-contrast-3: #000000;
    --dxp-s-header-content-max-width: 1800px;
    --dxp-s-section-columns-max-width: 1800px;
    --dxp-s-button-text-transform: none;
    --dxp-s-body-line-height: 1.5;
    --dxp-s-body-text-decoration: none;
    --dxp-s-section-content-spacing-inline-end-mobile: 0.75rem;
    --dxp-s-body-text-transform: none;
    --dxp-s-text-heading-medium-font-style: normal;
    --dxp-g-warning-2: #e27d00;
    --dxp-g-warning-3: #673900;
    --dxp-s-form-element-color-border: var(--dxp-g-neutral-3);
    --dxp-g-warning-1: #ffa534;
    --dxp-s-header-content-max-width-mobile: none;
    --dxp-s-text-heading-large-letter-spacing: 0em;
    --dxp-s-body-font-style: normal;
    --dxp-s-body-letter-spacing: 0em;
    --dxp-g-warning-contrast: #000000;
    --dxp-s-body-small-font-style: normal;
    --dxp-s-text-heading-small-font-style: normal;
    --dxp-s-text-heading-medium-line-height: 1.25;
    --dxp-s-column-spacer-size: 1rem;
    --dxp-s-text-heading-extra-large-letter-spacing: 0em;
    --dxp-s-text-heading-large-text-transform: none;
    --dxp-s-text-heading-large-font-size: 1.75rem;
    --dxp-s-text-heading-small-color: var(--dxp-g-root-contrast);
    --dxp-s-section-content-spacing-block-start: 1rem;
    --dxp-s-html-font-size-mobile: 1rem;
    --dxp-s-section-content-spacing-inline-end: 1rem;
    --dxp-s-body-small-font-weight: 400;
    --dxp-s-button-font-family: Inter;
    --dxp-s-form-element-color-background: var(--dxp-g-root);
    --dxp-g-offline-3: #000000;
    --dxp-g-offline-2: #070707;
    --dxp-g-offline-1: #303030;
    --dxp-s-button-font-weight: 400;
    --dxp-s-body-font-weight: 400;
    --dxp-s-body-small-line-height: 1.25;
    --dxp-g-offline: #444444;
    --dxp-s-button-small-font-size: 0.75rem;
    --dxp-s-text-heading-extra-large-text-decoration: none;
    --dxp-s-button-radius-border: 4px;
    --dxp-g-success-contrast: #000000;
    --dxp-s-text-heading-small-font-size: 1.125rem;
    --dxp-s-button-font-style: normal;
    --dxp-s-body-small-text-transform: none;
    --dxp-g-brand-contrast-1: #ffffff;
    --dxp-s-component-wrapper-spacer-size-mobile: 0rem;
    --dxp-s-text-heading-small-line-height: 1.25;
    --dxp-s-section-content-spacing-block-end: 1rem;
    --dxp-g-brand-contrast-3: #ffffff;
    --dxp-s-button-color-hover-contrast: var(--dxp-g-brand-contrast-1);
    --dxp-g-brand-contrast-2: #ffffff;
    --dxp-g-brand-1: #004989;
    --dxp-g-brand-2: #001e38;
    --dxp-g-warning: #ffb75d;
    --dxp-g-success-3: #07190f;
    --dxp-g-brand-3: #000000;
    --dxp-g-success-2: #237747;
    --dxp-g-success-1: #36b66c;
    --dxp-s-link-text-color-hover: var(--dxp-s-link-text-color-1);
    --dxp-s-text-heading-small-font-family: Inter;
    --dxp-s-column-spacer-size-mobile: 0.75rem;
    --dxp-g-offline-contrast-3: #ffffff;
    --dxp-s-text-heading-large-font-style: normal;
    --dxp-g-offline-contrast-2: #ffffff;
    --dxp-g-info-contrast-3: #ffffff;
    --dxp-s-body-small-font-size: 0.75rem;
    --dxp-g-destructive-1: #a2302b;
    --dxp-s-button-color-active: var(--dxp-s-button-color-1);
    --dxp-s-text-heading-small-text-transform: none;
    --dxp-g-offline-contrast-1: #ffffff;
    --dxp-s-section-content-spacing-inline-start-mobile: 0.75rem;
    --dxp-s-section-content-spacing-block-end-mobile: 0.75rem;
    --dxp-g-info-contrast: #ffffff;
    --dxp-s-html-font-size: 1rem;
    --dxp-s-body-font-family: Inter;
    --dxp-s-link-text-color: var(--dxp-g-brand);
    --dxp-s-link-text-decoration-focus: underline;
    --dxp-g-destructive-2: #611d1a;
    --dxp-g-neutral: #ecebea;
    --dxp-g-destructive-3: #010000;
    --dxp-g-info-contrast-1: #ffffff;
    --dxp-s-dropdown-text-color-hover: var(--dxp-g-neutral-contrast);
    --dxp-g-info-contrast-2: #ffffff;
    --dxp-s-text-heading-extra-large-font-family: Inter;
    --dxp-s-form-element-label-color: var(--dxp-g-root-contrast);
    --dxp-s-text-heading-large-font-family: Inter;
    --dxp-s-text-heading-extra-large-font-weight: 300;
    --dxp-s-text-heading-medium-text-decoration: none;
    --dxp-s-text-heading-extra-large-font-style: normal;
    --dxp-s-button-large-padding: 1.25rem;
    --dxp-s-text-heading-small-font-weight: 300;
    --dxp-s-text-heading-large-font-weight: 300;
    --dxp-g-info-2: #000000;
    --dxp-s-form-element-text-color: var(--dxp-g-root-contrast);
    --dxp-g-info-3: #000000;
    --dxp-g-destructive-contrast: #ffffff;
    --dxp-s-text-heading-medium-font-weight: 300;
    --dxp-g-info-1: #0e203b;
    --dxp-g-destructive-contrast-1: #ffffff;
    --dxp-g-neutral-contrast: #000000;
    --dxp-s-dropdown-color-background-hover: var(--dxp-g-neutral);
    --dxp-g-destructive-contrast-2: #ffffff;
    --dxp-g-root-1: #ebebeb;
    --dxp-g-destructive-contrast-3: #ffffff;
    --dxp-g-root-2: #c2c2c2;
    --dxp-s-section-content-spacing-inline-start: 1rem;
    --dxp-g-root-3: #858585;
    --dxp-s-button-color-1: var(--dxp-g-brand-1);
    --dxp-s-body-text-color: var(--dxp-g-root-contrast);
    --dxp-s-footer-content-max-width-mobile: none;
    --dxp-g-brand-contrast: #ffffff;
    --dxp-s-button-color: var(--dxp-g-brand);
    --dxp-s-form-element-width-border: 1px;
    --dxp-g-neutral-3: #76716b;
    --dxp-s-body-small-text-color: var(--dxp-g-root-contrast);
    --dxp-g-neutral-2: #b2aeaa;
    --dxp-s-text-heading-extra-large-color: var(--dxp-g-root-contrast);
    --dxp-g-neutral-1: #d9d7d5;
    --dxp-s-button-color-active-contrast: var(--dxp-g-brand-contrast-1);
    --dxp-g-success-contrast-3: #ffffff;
    --dxp-g-success-contrast-2: #ffffff;
    --dxp-s-button-line-height: 2;
    --dxp-s-text-heading-extra-large-font-size: 2.5rem;
    --dxp-s-button-large-radius-border: 4px;
    --dxp-g-success-contrast-1: #000000;
    --dxp-s-form-element-radius-border: 4px;
    --dxp-s-component-wrapper-spacer-size: 0rem;
    --dxp-s-link-text-decoration: none;
    --dxp-s-text-heading-medium-font-size: 1.25rem;
    --dxp-g-destructive: #c23934;
    --dxp-s-dropdown-color-border: var(--dxp-g-neutral);
    --dxp-s-button-color-contrast: var(--dxp-g-brand-contrast);
    --dxp-s-section-columns-max-width-mobile: none;
    --dxp-g-offline-contrast: #ffffff;
    --dxp-s-text-heading-medium-color: var(--dxp-g-root-contrast);
    --dxp-s-button-small-padding: 0.75rem;
    --dxp-s-text-heading-large-color: var(--dxp-g-root-contrast);
    --dxp-s-text-heading-large-text-decoration: none;
    --dxp-s-link-text-decoration-hover: underline;
    --dxp-s-button-color-focus: var(--dxp-s-button-color-1);
    --dxp-s-button-padding: 1rem;
    --dxp-s-text-heading-medium-font-family: Inter;
    --dxp-s-footer-content-max-width: 1800px;
    --dxp-s-body-small-font-family: Inter;
    --dxp-s-text-heading-small-letter-spacing: 0em;
    --dxp-s-body-small-letter-spacing: 0em;
    --dxp-s-section-content-spacing-block-start-mobile: 0.75rem;
    --dxp-s-text-heading-extra-large-text-transform: none;
}

:root {
    --dxp-c-column-container-spacing-block-start: 0;
    --dxp-c-column-container-spacing-inline-end: 0;
    --dxp-c-column-container-spacing-block-end: 0;
    --dxp-c-column-container-spacing-inline-start: 0;
    --dxp-c-column-container-spacing-block-start-mobile: 0;
    --dxp-c-column-container-spacing-inline-end-mobile: 0;
    --dxp-c-column-container-spacing-block-end-mobile: 0;
    --dxp-c-column-container-spacing-inline-start-mobile: 0;
    --dxp-c-column-content-spacing-block-start: 0;
    --dxp-c-column-content-spacing-inline-end: 0;
    --dxp-c-column-content-spacing-block-end: 0;
    --dxp-c-column-content-spacing-inline-start: 0;
    --dxp-c-column-content-spacing-block-start-mobile: 0;
    --dxp-c-column-content-spacing-inline-end-mobile: 0;
    --dxp-c-column-content-spacing-block-end-mobile: 0;
    --dxp-c-column-content-spacing-inline-start-mobile: 0;
    --dxp-c-header-container-spacing-block-start: 1rem;
    --dxp-c-header-container-spacing-inline-end: 1rem;
    --dxp-c-header-container-spacing-block-end: 1rem;
    --dxp-c-header-container-spacing-inline-start: 1rem;
    --dxp-c-header-container-spacing-block-start-mobile: 0.75rem;
    --dxp-c-header-container-spacing-inline-end-mobile: 0.75rem;
    --dxp-c-header-container-spacing-block-end-mobile: 0.75rem;
    --dxp-c-header-container-spacing-inline-start-mobile: 0.75rem;
    --dxp-c-footer-container-spacing-block-start: 1rem;
    --dxp-c-footer-container-spacing-inline-end: 1rem;
    --dxp-c-footer-container-spacing-block-end: 1rem;
    --dxp-c-footer-container-spacing-inline-start: 1rem;
    --dxp-c-footer-container-spacing-block-start-mobile: 0.75rem;
    --dxp-c-footer-container-spacing-inline-end-mobile: 0.75rem;
    --dxp-c-footer-container-spacing-block-end-mobile: 0.75rem;
    --dxp-c-footer-container-spacing-inline-start-mobile: 0.75rem
}

.component-wrapper-spacer {
    display: block;
    margin-bottom: var(--dxp-c-component-wrapper-spacer-size,var(--dxp-s-component-wrapper-spacer-size))
}

@media (max-width: 48em) {
    .component-wrapper-spacer {
        margin-bottom:var(--dxp-c-component-wrapper-spacer-size-mobile,var(--dxp-s-component-wrapper-spacer-size-mobile))
    }
}

:root {
    --dxp-c-monospace-font-family: consolas,menlo,monaco,courier,monospace;
    --dxp-c-title-line-height: 1.25;
    --dxp-c-title-caps-line-height: 1.25;
    --dxp-c-title-caps-font-weight: 400;
    --dxp-c-title-caps-letter-spacing: 0.0625rem;
    --dxp-c-title-caps-text-transform: uppercase;
    --dxp-c-button-neutral-transition: border 0.15s linear;
    --dxp-c-button-brand-transition: border 0.15s linear;
    --dxp-c-button-outline-brand-transition: border 0.15s linear;
    --dxp-c-button-destructive-transition: border 0.15s linear;
    --dxp-c-button-text-destructive-transition: border 0.15s linear;
    --dxp-c-button-success-transition: border 0.15s linear;
    --dxp-c-spinner-color-background: inherit;
    --dxp-c-link-transition: color 0.1s linear;
    --dxp-c-strong-text-weight: 700;
    --dxp-c-selection-text-shadow: none;
    --dxp-c-placeholder-font-weight: 400;
    --dxp-c-placeholder-opacity: 1;
    --dxp-c-html-line-height: 1.5;
    --dxp-c-hr-margin-block-start: 2rem;
    --dxp-c-hr-margin-block-end: 2rem
}
::selection {
    background: var(--dxp-c-selection-color-background,var(--dxp-g-neutral));
    text-shadow: var(--dxp-c-selection-text-shadow);
    color: var(--dxp-c-selection-text-color,var(--dxp-g-neutral-contrast))
}

::-moz-selection {
    background: var(--dxp-c-selection-color-background,var(--dxp-g-neutral));
    text-shadow: var(--dxp-c-selection-text-shadow);
    color: var(--dxp-c-selection-text-color,var(--dxp-g-neutral-contrast))
}

:root {
    /* BREAKPOINTS */
    /* Viewport */
    --ced-breakpoint-base: 0;
    --ced-breakpoint-small: 37.5em;
    --ced-breakpoint-medium: 64em;
    --ced-breakpoint-large: 90em;
    /* Content Width */
    --ced-content-width-small: 26em;
    --ced-content-width-medium: 37.5em;
    --ced-content-width-large: 100em;
    /* BORDER */
    /*Border Weight*/
    --ced-border-width: 1px;
    --ced-border-width-large: 2px;
    --ced-border-width-xlarge: 4px;
    /*Border Radius */
    --ced-border-radius-none: 0;
    --ced-border-radius-small: .25rem;
    --ced-border-radius-base: .375rem;
    --ced-border-radius-base-inner: .25rem;
    --ced-border-radius-large: .75rem;
    --ced-border-radius-large-inner: .5rem;
    --ced-border-radius-full: 50%;
    /* COLORS */
    /* Brand - CED */
    --ced-color-global-brand-1: #222E72;
    --ced-color-global-brand-2: #5067BE;
    --ced-color-global-brand-3: #7D8ECF;
    --ced-color-global-brand-4: #EDEFF7;
    /* Neutral */
    --ced-color-global-neutral-1: #212121;
    --ced-color-global-neutral-2: #6D6E6C;
    --ced-color-global-neutral-3: #8E908D;
    --ced-color-global-neutral-4: #CECFCD;
    --ced-color-global-neutral-5: #F0F0F0;
    --ced-color-global-neutral-6: #FAFAFA;
    --ced-color-global-white: #FFF;
    /* Alpha */
    --ced-color-global-alpha-neutral-1: rgba(33, 33, 33, 0.66);
    --ced-color-global-alpha-neutral-2: rgba(33, 33, 33, 0.49);
    --ced-color-global-alpha-neutral-3: rgba(33, 33, 33, 0.24);
    --ced-color-global-alpha-neutral-4: rgba(33, 33, 33, 0.07);
    --ced-color-global-alpha-white-1: rgba(255, 255, 255, 0.75);
    --ced-color-global-alpha-white-2: rgba(255, 255, 255, 0.50);
    --ced-color-global-alpha-white-3: rgba(255, 255, 255, 0.25);
    --ced-color-global-alpha-white-4: rgba(255, 255, 255, 0.10);
    --ced-color-global-alpha-white-5: rgba(255, 255, 255, 0.05);
    --ced-color-global-alpha-transparent: rgba(255, 255, 255, 0);
    /* Danger */
    --ced-color-global-danger-1: #A91700;
    --ced-color-global-danger-2: #D34A35;
    --ced-color-global-danger-3: #FBDBD5;
    --ced-color-global-danger-4: #F8EEEC;
    /* Warning */
    --ced-color-global-warning-1: #8F5300;
    --ced-color-global-warning-2: #BD8A00;
    --ced-color-global-warning-3: #FFF7E5;
    /* Success */
    --ced-color-global-success-1: #296804;
    --ced-color-global-success-2: #479915;
    --ced-color-global-success-3: #EDF2E8;
    /* Background */
    --ced-color-background-brand: var(--ced-color-global-brand-2);
    --ced-color-background-brand-hover: var(--ced-color-global-brand-1);
    --ced-color-background-brand-focus: var(--ced-color-global-brand-1);
    --ced-color-background-brand-light: var(--ced-color-global-brand-4);
    --ced-color-background-brand-light-focus: var(--ced-color-global-brand-3);
    --ced-color-background-neutral: var(--ced-color-global-neutral-6);
    --ced-color-background-neutral-hover: var(--ced-color-global-neutral-5);
    --ced-color-background-neutral-focus: var(--ced-color-global-neutral-5);
    --ced-color-background-neutral-dark: var(--ced-color-global-neutral-5);
    --ced-color-background-neutral-dark-hover: var(--ced-color-global-neutral-4);
    --ced-color-background-neutral-dark-focus: var(--ced-color-global-neutral-4);
    --ced-color-background-transparent: var(--ced-color-global-alpha-transparent);
    --ced-color-background-transparent-hover: var(--ced-color-global-alpha-neutral-4);
    --ced-color-background-transparent-focus: var(--ced-color-global-alpha-neutral-4);
    --ced-color-background-transparent-active: var(--ced-color-global-alpha-neutral-4);
    --ced-color-background-backdrop: var(--ced-color-global-alpha-neutral-1);
    --ced-color-background-danger: var(--ced-color-global-danger-2);
    --ced-color-background-danger-light: var(--ced-color-global-danger-4);
    --ced-color-background-warning: var(--ced-color-global-warning-2);
    --ced-color-background-warning-light: var(--ced-color-global-warning-3);
    --ced-color-background-success: var(--ced-color-global-success-2);
    --ced-color-background-success-light: var(--ced-color-global-success-3);
    /* Border */
    --ced-color-border-neutral-dark: var(--ced-color-global-neutral-3);
    --ced-color-border-neutral: var(--ced-color-global-neutral-4);
    --ced-color-border-neutral-light: var(--ced-color-global-neutral-5);
    --ced-color-border-brand: var(--ced-color-global-brand-2);
    --ced-color-border-warning: var(--ced-color-global-warning-2);
    --ced-color-border-danger: var(--ced-color-global-danger-2);
    --ced-color-border-success: var(--ced-color-global-success-2);
    --ced-color-border-transparent: var(--ced-color-global-alpha-transparent);
    /* Text */
    --ced-color-text: var(--ced-color-global-neutral-1);
    --ced-color-text-light: var(--ced-color-global-neutral-2);
    --ced-color-text-brand: var(--ced-color-global-brand-2);
    --ced-color-text-brand-dark: var(--ced-color-global-brand-1);
    --ced-color-text-danger: var(--ced-color-global-danger-1);
    --ced-color-text-warning: var(--ced-color-global-warning-1);
    --ced-color-text-success: var(--ced-color-global-success-1);
    --ced-color-text-inverse: var(--ced-color-global-white);
    /* Focus Indicator */
    --ced-focus-indicator-width: .125rem;
    --ced-focus-indicator-offset-outer: .125rem;
    --ced-focus-indicator-offset-inner: -.125rem;
    --ced-color-focus-indicator: var(--ced-color-global-brand-3);
    --ced-color-focus-indicator-offset: var(--ced-color-global-white);
    /* Icons */
    --ced-color-icon-neutral: var(--ced-color-global-neutral-1);
    --ced-color-icon-neutral-light: var(--ced-color-global-neutral-2);
    --ced-color-icon-brand: var(--ced-color-global-brand-2);
    --ced-color-icon-danger: var(--ced-color-global-danger-1);
    --ced-color-icon-danger-light: var(--ced-color-global-danger-2);
    --ced-color-icon-warning: var(--ced-color-global-warning-1);
    --ced-color-icon-warning-light: var(--ced-color-global-warning-2);
    --ced-color-icon-success: var(--ced-color-global-success-1);
    --ced-color-icon-success-light: var(--ced-color-global-success-2);
    --ced-color-icon-inverse: var(--ced-color-global-white);
    --ced-color-icon-duo-neutral: var(--ced-color-global-neutral-1);
    --ced-color-icon-duo-brand: var(--ced-color-global-brand-3);
    /* TYPOGRAPHY */
    /* Font Family */
    font-family: 'Inter', sans-serif;
    font-variation-settings: normal;
    /* Font Size */
    --ced-font-size-xxlarge: 28px;
    --ced-font-size-xlarge: 24px;
    --ced-font-size-medium: 20px;
    --ced-font-size-small: 16px;
    --ced-font-size-xsmall: 14px;
    --ced-font-size-xxsmall: 12px;
    /* Font Weight */
    --ced-font-weight-normal: 400;
    --ced-font-weight-semi-bold: 600;
    --ced-font-weight-bold: 700;
    /* Font Style */
    --ced-font-style-normal: font-variation-settings: normal;
    --ced-font-style-italic: font-variation-settings: "slnt" -10;
    /* Line Height */
    /* Headings */
    --ced-line-height-heading-xxlarge: 1.2857142857;
    --ced-line-height-heading-xlarge: 1.3333333333;
    --ced-line-height-heading-medium: 1.4;
    --ced-line-height-heading-small: 1.5;
    --ced-line-height-heading-xsmall: 1.7142857143;
    /* Body */
    --ced-line-height-body: 1.5;
    --ced-line-height-body-small: 1.7142857143;
    /* Components */
    --ced-line-height-component-base: 1;
    --ced-line-height-component-small: 1.3333333333;
    --ced-line-height-component-xsmall: 1;
    /* LINKS */
    --ced-text-focus-indicator-size: .25ex;
    --ced-text-link-underline-size: .2ex;
    /* SHADOWS */
    /* Drop Shadows */
    --ced-shadow-dropdown: 0px 6px 16px var(--ced-color-global-alpha-neutral-4), 0px 0px 6px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-modal: 0px 4px 32px var(--ced-color-global-alpha-neutral-3), 0px 2px 8px -1px var(--ced-color-global-alpha-neutral-3), 0px 0px 4px -1px var(--ced-color-global-alpha-neutral-4);
    /* Insert Shadows */
    --ced-shadow-inset-button: 0px -2px 0px var(--ced-color-global-alpha-white-5, rgba(255, 255, 255, 0.25)) inset, 0px -1px 0px var(--ced-color-global-brand-1) inset;
    --ced-shadow-inset-input: 0px 2px 1px var(--ced-color-global-alpha-neutral-4) inset, 0px -2px 0px var(--ced-color-global-white) inset;
    --ced-shadow-inset-well: 0px 2px 0px var(--ced-color-global-alpha-neutral-4) inset;
    /* Component */
    --ced-shadow-button-primary: 0px -2px 0px var(--ced-color-global-alpha-white-3) inset, 0px -1px 0px var(--ced-color-global-brand-1) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-button-neutral: 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-input: 0px 2px 1px var(--ced-color-global-alpha-neutral-4) inset, 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-select: 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-card: 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-notification: 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-accordion-scoped: 0px -2px 0px var(--ced-color-global-white) inset, 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-dropdown: 0px 6px 16px var(--ced-color-global-alpha-neutral-4), 0px 0px 6px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-tooltip: 0px 6px 16px var(--ced-color-global-alpha-neutral-4), 0px 0px 6px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-modal: 0px 4px 32px var(--ced-color-global-alpha-neutral-3), 0px 2px 8px -1px var(--ced-color-global-alpha-neutral-3), 0px 0px 4px -1px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-well: 0px 2px 0px var(--ced-color-global-alpha-neutral-4) inset;
    /* Overscroll */
    --ced-shadow-overscroll-top: 0 -1px 1px -1px var(--ced-color-global-alpha-neutral-4), 0 -5px 6px -4px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-overscroll-bottom: 0 1px 1px -1px var(--ced-color-global-alpha-neutral-4), 0 5px 6px -4px var(--ced-color-global-alpha-neutral-4);
    /* Utility */
    --ced-shadow-base-none: none;
    --ced-shadow-base-small: 0px 3px 6px -2px var(--ced-color-global-alpha-neutral-4), 0px 1px 2px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-base-medium: 0px 6px 16px var(--ced-color-global-alpha-neutral-4), 0px 0px 6px var(--ced-color-global-alpha-neutral-4);
    --ced-shadow-base-large: 0px 4px 32px var(--ced-color-global-alpha-neutral-3), 0px 2px 8px -1px var(--ced-color-global-alpha-neutral-3), 0px 0px 4px -1px var(--ced-color-global-alpha-neutral-4);
    /* SPACING */
    --ced-spacing-none: 0rem;
    --ced-spacing-xxsmall: .25rem;
    --ced-spacing-xsmall: .5rem;
    --ced-spacing-small: .75rem;
    --ced-spacing-medium: 1rem;
    --ced-spacing-large: 1.5rem;
    --ced-spacing-xlarge: 2rem;
    --ced-spacing-xxlarge: 2.5rem;
    /* MOTION */
    /* Transition */
    --ced-transition-hover: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    --ced-transition-overlay: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    --ced-transition-slide: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

@media screen and (min-width: 1024px) {
    /* Class for Heading */ .lwr-text-heading-large {
        color: var(--ced-color-global-neutral-1);
        line-height: var(--ced-line-height-heading-xxlarge);
        font-size: var(--ced-font-size-xxlarge);
        font-weight: var(--ced-font-weight-semi-bold);
        margin-bottom: var(--ced-spacing-medium);
    }

    /* used for h1 on media query of 1024px and up */
}

@media screen and (max-width: 1024px) {
    /* Class for Heading */ .lwr-text-heading-large {
        color:var(--ced-color-global-neutral-1);
        line-height: var(--ced-line-height-heading-xlarge);
        font-size: var(--ced-font-size-xlarge);
        font-weight: var(--ced-font-weight-semi-bold);
        margin-bottom: var(--ced-spacing-medium);
    }

    /* used for h1 below 1024px */
}

.loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--ced-spacing-xxlarge) 0;
    cursor: progress;
}
.loader__icon_container {
    align-items: center;
    display: flex;
    height: 96px;
    justify-content: center;
    position: relative;
    width: 96px;
}
p.text-heading-small.loader__text {
    color: var(--ced-color-global-neutral-6);
    line-height: var(--ced-line-height-heading-small);
    font-size: var(--ced-font-size-small);
    font-weight: var(--ced-font-weight-semi-normal);
    margin-bottom: var(--ced-spacing-small);
    margin-top: var(--ced-spacing-small);
    opacity: 1;
}


.loader__text {
    display: block;
    text-align: center;
}

.loader__icon_container:before {
    background: var(--ced-color-global-brand-4);
    border-radius: 99999em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


.loader__icon {
    background: var(--ced-color-global-white);
    border-radius: var(--ced-border-radius-base, .375rem);
    box-shadow: inset 0 0 0 3px var(--ced-color-global-neutral-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--ced-spacing-small, 12px) var(--ced-spacing-small, 12px);
    /* width: 40px; */
    /* height: 32px; */
    z-index: 1;
}

.loader[aria-hidden=true] {
    display: none;
}

.loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--ced-spacing-xxlarge) 0;
    cursor: progress;
}

.loader__icon_container {
    align-items: center;
    display: flex;
    height: 96px;
    justify-content: center;
    position: relative;
    width: 96px;
}

    .loader__icon_container:before {
        background: var(--ced-color-global-brand-4);
        border-radius: 99999em;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

.loader__icon {
    background: var(--ced-color-global-white);
    border-radius: var(--ced-border-radius-base, .375rem);
    box-shadow: inset 0 0 0 3px var(--ced-color-global-neutral-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--ced-spacing-small, 12px) var(--ced-spacing-small, 12px);
    /* width: 40px; */
    /* height: 32px; */
    z-index: 1;
}

.loader__line {
    border-radius: 2px;
    display: block;
    height: 6px;
    width: 40px;
    will-change: transform;
    margin-bottom: 5px !important;
}

.loader__line_1 {
    background: var(--ced-color-global-brand-2);
}

.loader__line_2 {
    background: var(--ced-color-global-brand-3);
}

.loader__line_3 {
    background: var(--ced-color-global-brand-4);
}

@media (prefers-reduced-motion: no-preference) {
    .loader__line {
        background: var(--ced-color-global-brand-3);
    }

        .loader__line:nth-child(3) {
            animation: ProgressBar 3s ease-out infinite;
        }

        .loader__line:nth-child(2) {
            animation: ProgressBar 3s ease-out infinite .3s;
        }

        .loader__line:nth-child(1) {
            animation: ProgressBar 3s ease-out infinite .6s;
        }
}

@keyframes ProgressBar {
    0% {
        background: var(--ced-color-global-neutral-5);
        transform: scale(95%);
    }

    3% {
        background: var(--ced-color-global-neutral-5);
    }

    33% {
        transform: scale(100%);
        background: var(--ced-color-global-brand-3);
    }

    73% {
        background: var(--ced-color-global-brand-3);
        transform: scale(100%);
    }

    98% {
        background: var(--ced-color-global-neutral-5);
    }

    100% {
        background: var(--ced-color-global-neutral-5);
        transform: scale(95%);
    }
}

.loader__text {
    display: block;
    text-align: center;
}

p.text-heading-small.loader__text {
color: var(--ced-color-global-neutral-6);
line-height: var(--ced-line-height-heading-small);
font-size: var(--ced-font-size-small);
font-weight: var(--ced-font-weight-semi-normal);
margin-bottom: var(--ced-spacing-small);
margin-top: var(--ced-spacing-small);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
  }

  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }